*{
    margin: 0;
    padding: 0;
    box-sizing: bord+er-box;
}
.token.selector{
    color: black;
}
.token.property{
    color: black;
}
.taken.punctuation{
    color: black;
}

.code{
    height: 100vh;
    overflow: hidden;
}
#paper > .content{
    padding: 0 16px;
}
